<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты теста</title>
</head>
<body >
<font >
    <center>
        <h2>Имя кандидата :)) :{{ candidate_name }}</h2>
        <table>
            <tr><th>Вопрос</th><th>Ответ</th></tr>
            {% for test in test_list %}
            <tr>
                <td>{{ test.test_question.text }}</td>
                <td>{{ test.test_answer.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</font>
</body>
</html>
<!-- Author: niyaz sibagatullin (sib1998niyaz@mail.ru)-->