<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Академия джедаев</title>
</head>
<font >
    <body class="container">
     <center >
      <h2>
          <button onclick="window.location='/jedi'" class="still">Для Джедаев</button>
          <button onclick="window.location='/candidate'" class="still">Для кандидатов</button>
      </h2>
      <h2>
          <button onclick="window.location='/count'" class="still">Список Джедаев</button>
      </h2>
          <button onclick="window.location='/jedi_one'" class="still">Список джедаев(более 1-го падавана)</button>
  </center>
</body>
</font>
</html>